@model List<CorePDFReport.Model.Mesero>


<!DOCTYPE html>
<html>
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
</head>
<body>
    
    <h2>Total Vendido Por Mesero </h2>
    <table class="table table-striped table-hover">
        <tbody>
            <tr class="table-primary">
                <td>Id</td>
                <td>Nombres</td>
                <td>Apellidos</td>
                <td>Total</td>
            </tr>
            @foreach (var mesero in @Model)
            {
                <tr>
                   
                    <td>@mesero.Idmesero</td>
                    <td>@mesero.Nombres</td>
                    <td>@mesero.Apellidos</td>
                    <td>@mesero.Total</td>
                </tr>
               
            }
        </tbody>
    </table>

 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
</body>
</html>